.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexColumn img {
    max-width: 500px;
    border-radius: 2rem;
    align-items: center;
}

.flexColumn p {
    text-align: left;
}
