@font-face {
    font-family: 'SourceCodePro-Black';
    src: url(../fonts/static/SourceCodePro-Black.ttf);
    font-weight: 900;
}

.box {
    width: fit-content;
    flex-direction: column;
    height: fit-content;
    text-align: center;
    background-color: #DD0246;
    color: #F7F8f3;
    margin-left: 10px;
    margin-right: 10px;
    /* padding-left: 75px;
    padding-right: 75px; */
    padding-top: 10px;
    padding-bottom: 10px;
    flex-grow: 1;
    border-radius: 1rem;
    font-family: 'SourceCodePro-Black';
    box-shadow: 2px 2px 5px #f02d3a;
}

/* .box h2 {
    color: #F7F8f3;
} */